
<style>
    .center {
        padding: auto; /* Поля вокруг текста */
        margin: auto;
    }
</style>

<body>

<div class="jumbotron">
  <div class="container">
    <h1 style="text-align:center">С возвращением!</h1>



<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-horizontal center", :style =>"margin:auto; width:400px" }) do |f| %>


      <div class="form-group" style="margin:0px 0 5px 0">
        <div class="col-md-9" style="width:100%" >
          <%= f.email_field :login, autofocus: true, class: "form-control", :placeholder => "Введите email" %>
        </div>
      </div>

      <div class="form-group" style="margin:0px 0 5px 0">
        <div class="col-md-9" style="width:100%" >
          <%= f.password_field :password, autocomplete: "off", class: "form-control", :placeholder => "Введите пароль" %>
        </div>
      </div>



        <div class="field" style="width:370px; padding-left:15px; margin-bottom:0px; font-size:15px">
        <%= f.check_box :remember_me %>
          Запомнить меня
        </div>


        <%= f.submit "Войти", class: "btn btn-success btn-lg btn-block", style:"margin:15px 0 0 15px; width: 92.5%" %>
        </div>
</div>
<% end %>








<div class="row center" >
  <div class="col-xs-6 col-md-3" >
    <a href="#" class="thumbnail">
      <img src="http://www.independent.co.uk/incoming/article10173194.ece/alternates/w620/Putin-Ukraine-meme.jpg" alt="..." style="height:270px">
    </a>
  </div>

  <div class="col-xs-6 col-md-3"  >
    <a href="#" class="thumbnail">
      <img src="https://pp.vk.me/c410620/v410620815/49d9/9n0vcY5yxic.jpg" alt="..." style="height:270px">
    </a>
  </div>

  <div class="col-xs-6 col-md-3" >
    <a href="#" class="thumbnail">
      <img src="http://thechive.files.wordpress.com/2014/06/ex-girlfriend-meme-14.jpg?w=550&h=537" alt="..." style="height:270px">
    </a>
  </div>

  <div class="col-xs-6 col-md-3" >
    <a href="#" class="thumbnail">
      <img src="http://i2.kym-cdn.com/photos/images/original/000/210/888/1322794088001.jpg" alt="..." style="height:270px">
    </a>
  </div>
</div>

</body>
