<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>


<%= image_tag @post.image.url(:large) %>


<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Created:</strong>
  <%= @post.created_at.strftime("%d %b. %Y")%>  <%= "at " %> <%= @post.created_at.strftime("%H:%M") %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @post.updated_at.strftime("%d %b. %Y")%>  <%= "at " %> <%= @post.updated_at.strftime("%H:%M") %>
</p>

<% if @post.user == current_user %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>

